@font-face {
  font-family: "Consolas";
  src: url("fonts/consolas.ttf");
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #020202;
}

body {
  background-color: var(--main-color);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  overscroll-behavior: none;
}

.matrix-column {
  height: 100%;
  width: calc(2.5vw + 2.5vh);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.matrix-element {
  font-family: "Consolas";
  font-size: calc(2.5vw + 2.5vh);
  color: var(--main-color);

  transition: color 0.5s;
}